<div class="zui section space-50">
		<div class="inner">

			<form action="{base_url()}home/ceklogin" method="post">
				<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="col-sm-12 col-sm-offset-2">
						<div class="zui form-label">Email</div>
						<input type="text" class="fullwidth" name="email">
					</div>

					<div class="col-sm-12">
						<div class="zui form-label">Password</div>
						<input type="password" class="fullwidth" name="password">
					</div>

					<div class="col-sm-12" style="margin-top:5%;">
						<input type="submit" class="fullwidth blue" value="Login Sekarang" name="login">
					</div>
					</div>
				</div>

			</form>

		</div>
	</div>